<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
	<title>Site Account</title>
</head>

<body>
	<h1>404 error</h1>

	<p>Your username account is already tacken by someone else <br>OR<br>You put a space in the word, and you are not allowed to.</p>

</body>
</html>