<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
	<title>Site Account</title>
</head>

<body>
	<h1>Page d'Inscription</h1>
	<h3>Create an account</h3>


	<form action="/new" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		Username : 
		<input type="text" value="enter an username" name="username"> <br>

		Bio :
		<textarea name="bio"></textarea>
		</p>

		<input type="submit" value="Submit">
	</form>


</body>
</html>

