<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
	<title>Site Account</title>
</head>

<body>
	<h1>Page de profil</h1>

	<p>Compte de : <%= @userName.capitalize %> </p>
	<p>Biographie : <br>
		<%= @userBio %>
	</p>


</body>
</html>